<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741504339755-7rs6bh95d2p26ve68r31pmagbcaps87p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741504339755-7rs6bh95d2p26ve68r31pmagbcaps87p</string>
	<key>API_KEY</key>
	<string>AIzaSyBJyz85UHTnCHToFw52RiS-ctBtCXRPS8s</string>
	<key>GCM_SENDER_ID</key>
	<string>741504339755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TurnToTech.Camera-Cloud</string>
	<key>PROJECT_ID</key>
	<string>cameraandcloud</string>
	<key>STORAGE_BUCKET</key>
	<string>cameraandcloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:741504339755:ios:de071b9a9af1f4bd</string>
	<key>DATABASE_URL</key>
	<string>https://cameraandcloud.firebaseio.com</string>
</dict>
</plist>